#root {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Add the base fade-in class */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in.fade-out {
  opacity: 0;
  transform: translateY(-30px);
}

.skill-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.skill-fade.visible {
  opacity: 1;
  transform: translateY(0);
}